---
name: dockerimage

on:
  push:
    branches:
    - master
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag reviewdog-detect-secrets:$(date +%s)
