---
name: dockerimage

on:
  push:
    branches:
    - master
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag reviewdog-detect-secrets:$(date +%s)
